input {
    width: 700px;
    padding: 8px;
    margin-bottom: 10px;
    display: block;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px; /* Adjust the value as needed */
}