* {
    font-family: 'Poppins', sans-serif;
}

header{
    width: auto;
    height: 106px;
    flex-shrink: 0;
    background: #BACDB0;
    display: flex;
    justify-content: center;
    align-items: center;

}

header, h1, body {
    margin: 0;
    padding: 0;
}

.title{
    width: 89px;
    height: 62px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sidenav {
    width: 229px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background: #2E2C2F;
}

.sidenav a {
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: #EAEAEA;
}

.sidenav a:hover {
    color: #BACDB0;
}

.navbox{
    width: 229px;
    height: 71px;
    flex-shrink: 0;
}

.content {
    margin-left: 229px; /* Match the width of your sidebar */
    padding: 20px; /* Adjust padding as needed */
    background: #FFF; /* Adjust background color as needed */
}